<h1>Paginas</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
	<li class="active">Paginas</li>
</ol>

<list-view 
    fields="[
        {'name':'title', 'label':'Titulo', 'type': 'string', width:'40'},
        {'name':'add_date', 'label':'Fecha', 'type': 'date'},
        {'name':'type', 'label':'Tipo', 'type': 'string'},
        {'name':'public', 'label':'Publicado', 'type': 'bool'},
    ]"

    callback="pageList.convertType"

    filters="['search']" 

    actions="['add', 'edit', 'delete', 'search']"

    rest="pages"
    
    default-order="position"
    >

</list-view>
