<h1>Páginas</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
  <li><a href="#/content/page">Páginas</a></li>  
</ol>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer2.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    <a class="" ng-if="node.type==2" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon glyphicon-align-justify"></span></a>
    
    {{node.title}} <span ng-if="!node.published" class="glyphicon glyphicon-eye-close" style="color: red;"aria-hidden="true"></span>
    
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="pageList.removing(this, node.id)"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag  ng-click="pageList.edit(this, node.id)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-pencil"></span></a>
    <a class="pull-right btn btn-primary btn-xs" ng-if="node.type==1" data-nodrag ng-click="pageList.newSubItem(this)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
    
  </div>

  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" data-nodrop-enabled="false" data-clone-enabled="false" data-drag-enabled="true">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer2.html'" collapsed="true;">
    </li>
  </ol>

</script>


<div class="row" ng-show="!pageList.status.is_form">
  <p class="pull-right" >
    <a  class="btn btn-success" ng-click="pageList.newSubItem()">Agregar página principal</a>
  </p>
  <div class="col-sm-12">
    <div ui-tree id="tree-root">
      <ol ui-tree-nodes ng-model="pageList.data_nodes" data-nodrop-enabled="false" data-clone-enabled="false" data-drag-enabled="false" data-drag-delay="1" data-empty-placeholder-enabled="false">
        <li ng-repeat="node in pageList.data_nodes" ui-tree-node ng-include="'nodes_renderer2.html'" collapsed="true;"></li>
      </ol>
    </div>
  </div>
</div>



<!--  Form Update or create pageList --> 
<div class="row" ng-show="pageList.status.is_form">
  <div class="col-sm-12">
    <h3>{{pageList.data.title}}</h3>
    <form novalidate name="pageList.form" class="form" role="form" ng-submit="pageList.submit()">
      
        <div class="form-group col-sm-8">
            <label for="inputEmail3" class="control-label">Título</label>
            <input name="title" type="input" class="form-control" ng-model="pageList.data.title" required>
            <div class="bg-danger error" ng-show="pageList.form.title.$invalid && pageList.form.submitted">
                <small ng-show="pageList.form.title.$error.required">
                    Ingrese un título
                </small>
            </div>
        </div>
      

      
        <div class="form-group col-sm-4">
          <label for="inputEmail3" class="control-label">Tipo</label>
          <div class="error" ng-show="pageList.form.type.$invalid && pageList.form.submitted">
                    <small class="error" ng-show="pageList.form.type.$error.required">
                        Seleccione un tipo
                    </small>
                </div>
                <select name="type" ng-model="pageList.data.type" class="form-control" required>
                    <option value="">Selecicone</option>
                    <option value="1">Categoria</option>
                    <option value="2">Contenido</option>
                </select>
        </div>
              
        <div class="form-group col-sm-3">
            <label for="inputEmail3" class="control-label">Posición</label>
            <input name="position" type="input" class="form-control" ng-model="pageList.data.position" placeholder="0">
        </div>
        
        
        <div >
          <div class="form-group col-sm-9">
            <label for="inputEmail3" class="control-label">Página padre </label>            
            
             <select id="sel" class="form-control" ng-model="pageList.data.parent" ng-options="obj.id as obj.title for obj in pageList.parents">    
              <option value="">Sin padre</option>
             </select>
          </div>
        </div>

        <div class="form-group col-sm-12">
            <label for="inputEmail3" class="control-label">Visible</label>
            <input type="checkbox" ng-model="pageList.data.published">
        </div>


        <div  ng-show="pageList.data.type == 2">
            <div class="form-group col-sm-12">
                <label for="inputEmail3" class="control-label">Contenido</label>
                <textarea ui-tinymce="pageList.tinymceOptions" name="content" class="form-control" rows="6" ng-model="pageList.data.content"></textarea>
            </div>
        </div>

     
        
     

      <div class="row">
        <div class="form-group col-xs-12">
          <button type="submit" class="btn btn-primary">{{pageList.action == "new" ? "Enviar" : "Editar"}}</button>
                &nbsp;
          <a href="#/content/page" class="btn btn-warning" ng-click="pageList.status.is_form=false;">Regresar</a>
        </div>
      </div>
    </form>
  </div>
</div>



