<h1>Grupos</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
	<li class="active">Grupos</li>
</ol>

<p class="pull-right">
	<a href="#/cooperative/groups/new" class="btn btn-success">Nuevo grupo</a>
</p>

<table class="table table-hover">
	<thead>
		<tr>
			<th width="40%">Título</th>
			<th>Fecha</th>
            <th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="group in groupList.list">
            <td>{{group.name}}</td>
			<td>{{group.date | date:'medium'}}</td>
            <td class="text-right">
                <a href="#/cooperative/groups/fill/{{group.id}}" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                </a>

                <a href="#/cooperative/groups/edit/{{group.id}}" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <button ng-click="groupList.delete(group.id, $event)" type="button" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

            </td>
		</tr>
	</tbody>
</table>

<div class="text-center">
    <pagination 
    items-per-page="20" 
    total-items="groupList.count" 
    ng-model="groupList.page" 
    max-size="5" 
    class="pagination-lg" 
    ng-change="groupList.setPage()">
    </pagination>
</div>
