<h1>{{poll.action == "new" ? "Nuevo" : "Editar"}} Encuesta</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
	<li><a href="#/polls">Asociados</a></li>
	<li class="active">{{poll.action == "new" ? "Nuevo" : "Editar"}}</li>
</ol>

<div ng-show="poll.form.success">
    <div class="alert alert-success" role="alert">Elemento {{poll.action == "new" ? "creado" : "editado"}} correctamente.</div>
    <a ng-show="poll.no_form_show" href="#/cooperative/polls" class="btn btn-warning">Regresar</a>
</div>
<div ng-show="!poll.no_form_show">

    <form novalidate name="pollForm" class="form" role="form" ng-submit="submit()">

        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label">Nombre de la encuesta:</label>
                <input name="pollname" type="input" class="form-control" ng-model="form.content" required>
                <div class="bg-danger error" ng-show="poll.form.pollname.$invalid && poll.form.submitted">
                    <small ng-show="poll.form.pollname.$error.required">
                        Ingresa el nombre de la encuesta.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label">Tipo de pregunta:</label>
                <select class="form-control" ng-model="form.type">
                    <option value="1">Pregunta abierta</option>
                    <option value="2">Pregunta cerrada</option>
                    <option value="3">Pregunta cerrada con comentarios</option>
                    <!--<option value="4">Selección múltiple</option> It is not in the api yet-->
                </select>
                <div class="bg-danger error" ng-show="poll.form.name.$invalid && poll.form.submitted">
                    <small ng-show="poll.form.name.$error.required">
                        Selecciona un tipo de pregunta.
                    </small>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label">Enunciado de la pregunta:</label>
                <input name="question" type="input" class="form-control" ng-model="poll.data.content" required>
                <div class="bg-danger error" ng-show="poll.form.name.$invalid && poll.form.submitted">
                    <small ng-show="poll.form.name.$error.required">
                        Escribe el enunciado de la pregunta.
                    </small>
                </div>
            </div>
        </div>
        
        <div class="row" ng-if="form.type == 2 || form.type == 3 || form.type == 4">
            <div class="form-group col-sm-7">
                <label class="control-label">Respuestas:</label>
                <input name="answer" type="input" class="form-control" ng-model="poll.data.options" required>
                <div class="bg-danger error" ng-show="poll.form.name.$invalid && poll.form.submitted">
                    <small ng-show="poll.form.name.$error.required">
                        Adiciona una respuesta.
                    </small>
                </div>
            </div>
            <div class="form-group col-sm-2 answer-action-buttons">
                <button href="#/poll//edit/1" class="btn btn-success btn-sm ng-scope">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-danger btn-sm ng-scope">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-primary">{{poll.action == "new" ? "Enviar" : "Editar"}}</button>
                &nbsp;
                <a href="#/poll" class="btn btn-warning">Regresar</a>
            </div>
        </div>

    </form>
</div>