<h1>Preguntas de la encuesta</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
  <li><a href="#/poll">Encuestas</a></li>  
</ol>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" ng-repeat="answer in answers">
    <div class="panel-heading" role="tab" id="heading{{$index}}">
      <h4 class="panel-title">
          {{answer.question}}
      </h4>
      <h6>Tipo de pregunta: {{answer.type}}</h6>
    </div>
    <div id="$index" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{$index}}" ng-repeat="response in answer.responses">
      <div class="panel-body">
        <label>Usuario:</label> {{response.user.username}}
      </div>
      <div class="panel-body" ng-if="answer.type == 'Close'">
        <div ng-repeat="resp in response.close_responses">
          <label>Respuesta:</label> {{resp}}
        </div>
      </div>
      <div class="panel-body" ng-if="answer.type == 'Close with comment'">
        <div ng-repeat="resp in response.close_responses">
          <label>Respuesta:</label> {{resp}}<br>
        </div>
        <label>Opinión:</label> {{response.open_response}}
      </div>
      <div class="panel-body" ng-if="answer.type == 'Open'">
          <label for="">Respuesta:</label>
          {{response.open_response}}
      </div>
    </div>
  </div>
</div>