
<div class="user-box">
    <img src="{{home.MEDIA}}/{{home.cooperative_data.logo}}" alt="Logo" class="pull-right"  height="41"/>        
</div>
<div class="user-box ">    
    <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span>      -->
    <h1>Bienvenido {{home.username}} </h1>
    <p>Su último inicio de sesión fue el {{home.last_login | date:'dd/MM/yyyy  HH:mm:ss'}}</p>
</div>


<div id="statistic-page">
 
    <ul class="data-general">

        <li class="red">
            <span class="amount">{{home.stats.total_users}}</span>
            <span class="item">Asociados totales</span>
        </li>

        <li class="blue">
            <span class="amount">{{home.stats.active_users}}</span>
            <span class="item">Asociados activados</span>
        </li>

        <li class="green">
            <span class="amount">{{home.stats.credit_request}}</span>
            <span class="item">Solicitudes de crédito</span>
        </li>

        <li class="orange">
            <span class="amount">{{home.stats.notifications}}</span>
            <span class="item">Notificaciones vistas</span>
        </li>

    </ul>

    <div ng-if="home.show_statistics">        
        <h3>Inicio de sesión

            <form class="form-inline pull-right">
                <div class="input-group input-daterange">
                    <input type="text" class="form-control" ng-model="home.data.start">
                    <span class="input-group-addon">to</span>
                    <input type="text" class="form-control" ng-model="home.data.end">
                </div>

                <button class="btn btn-primary" ng-click="home.getStatistics()">Ver</button>

            </form>
        </h3>        
    </div>
    <div ng-if="!home.show_statistics">        
        <h3> ¡Estadisticas no Diponibles!  </h3>
    </div>
    <div id="time-chart" style="height: 250px;" ng-show="home.show_statistics"></div> 
     
    
   
</div>

<!-- Email information -->
<div class="col-md-12">
    <h3>Email fallidos</h3>    
    <hr>

    <div class="col-md-12" >
        <accordion close-others="true">
            <accordion-group is-open="home.accordion.email" >
                <accordion-heading>
                    Información de E-mails enviados
                    <i ng-show="home.accordion.email">(Abierto)</i>
                    <i ng-show="!home.accordion.email">(Cerrado)</i>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': home.accordion.email, 'glyphicon-chevron-right': !home.accordion.email}"></i>
                </accordion-heading>
                <div class="row">
                    <div class="col-md-12">
                        <p>Solo se muestran los ultimos 1000 mensajes enviados en los ultimos 7 dias
                        <button type="button" class="btn btn-info" ng-click="home.getBadEmails()">Consultar estados</button>
                        </p>
                    </div>
                    
                    <div class="col-md-12" >
                        <table class="table table-hover" ng-if="home.bad_emails">
                            <thead>                            
                                <th>E-mail</th>
                                <th>Estado</th>
                                <th>Asunto</th>
                            </thead>

                            <tbody >
                                <tr ng-repeat="element in home.bad_emails">
                                    <td>{{element.email}}</td>
                                    <td>
                                        <span ng-if="element.state == 'rejected'" class="label label-danger">Rejected</span>
                                        <span ng-if="element.state == 'bounced'" class="label label-danger">Bounced</span>
                                        <span ng-if="element.state == 'soft-bounced'" class="label label-danger">Soft-Bounced</span>
                                    </td>
                                    <td>{{element.subject}}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <!-- when all is ok -->
                        <div class="col-md-12" ng-show="!home.bad_emails">
                            <h3>Actualmente no hay información de envios fallidos.</h3>
                        </div>
                        
                        <div class="col-md-12" ng-show="home.bad_emails.length==0">
                            <h3>No se encontraron correos errados</h3>
                        </div>
                    </div>      

                </div>

            </accordion-group>
        </accordion>
    </div>


</div>