<h1>Términos y condiciones</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
	<li class="active" >Términos & condiciones</li>	
</ol>

<div ng-show="ctrl.form.success">
    <div class="alert alert-success" role="alert">Acción realizada.</div>
</div>

<div ng-show="ctrl.form.success == false">
    <div class="alert alert-error" role="alert">Ocurrón un error.</div>
</div>

<form novalidate name="ctrl.form" class="form" role="form" ng-submit="ctrl.submit()" ng-disabled="!isSaving">
    <div class="row">
        <div class="form-group col-sm-10">
            <h3>Contenido</h3>
            <textarea ui-tinymce="ctrl.tinymceOptions" name="content" class="form-control" rows="12" ng-model="ctrl.data.terms" required>{{ctrl.data.terms}}</textarea>

            <div class="error" ng-show="ctrl.form.content.$invalid && notification.form.submitted">
                <small class="error" ng-show="notification.form.content.$error.required">
                    Ingrese el contenido
                </small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>


