<div class="row">
    <div class="form-group col-sm-10">
        <label for="inputEmail3" class="control-label">Nivel de permisos</label>

        <div class="radio">
            <label class="radio-inline">
                <input type="checkbox" ng-model="accessLevel.private" ng-change="setPrivacy(accessLevel.private, '1')" name="type" value="1"> Privado
             </label>

           <label class="radio-inline">
                <input type="checkbox" ng-model="accessLevel.semiPublic" ng-change="setPrivacy(accessLevel.semiPublic, '2')" name="type" value="2"> Semi Privado
            </label>

            <label class="radio-inline">
                <input type="checkbox" ng-model="accessLevel.public" ng-change="setPrivacy(accessLevel.public, '3')" name="type" value="3"> Público
             </label>
             <input type="hidden" ng-model="lvl">
        </div>
    </div>
</div>