
<div id="notification-page">
    <h1>{{notification.action == "new" ? "Nueva" : "Editar"}} notificación</h1>

    <ol class="breadcrumb">
    	<li><a href="#">Inicio</a></li>
    	<li><a href="#/content/notification">Notificaciones</a></li>
    	<li class="active">{{notification.action == "new" ? "Nueva" : "Editar"}}</li>
    </ol>

    <div ng-show="notification.form.success">
        <div class="alert alert-success" role="alert">Elemento {{notification.action == "new" ? "creado" : "editado"}} correctamente.</div>
    </div>

    <div >
        <form novalidate name="notification.form" class="form" role="form" ng-submit="notification.submit()" ng-disabled="!isSaving">
            
            <div class="row"  ng-if="notification.data.image">
                <div class="col-sm-4">
                    <img src="{{notification.MEDIA}}/{{notification.data.image}}" alt="">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="inputEmail3" class="control-label">Imágen</label>
                    <input name="image" type="file" ng-file="image" required>
                    <div class="bg-danger error" ng-show="notification.form.image.$invalid && notification.form.submitted">
                        <small ng-show="notification.form.image.$error.required">
                            Debes subir una imágen.
                        </small>
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="inputEmail3" class="control-label">Título</label>
                    <input name="title" type="input" class="form-control" ng-model="notification.data.title" required>
                
                    <div class="bg-danger error" ng-show="notification.form.title.$invalid && notification.form.submitted">
                        <small ng-show="notification.form.title.$error.required">
                            Debes ingresar un título.
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="inputEmail3" class="control-label">Descripción</label>
                    <textarea name="description" class="form-control" rows="3" ng-model="notification.data.description" required>{{notification.data.description}}</textarea>

                    <div class="bg-danger error" ng-show="notification.form.description.$invalid && notification.form.submitted">
                        <small ng-show="notification.form.description.$error.required">
                            Debes ingresar una descripción.
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="inputEmail3" class="control-label">Observación</label>
                    <input name="observation" type="input" class="form-control" ng-model="notification.data.observation" required>
                    <div class="bg-danger error" ng-show="notification.form.observation.$invalid && notification.form.submitted">
                        <small ng-show="notification.form.observation.$error.required">
                            Debes ingresar una observación.
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="inputEmail3" class="control-label">Contenido</label>
                    <textarea ui-tinymce="notification.tinymceOptions" name="content" class="form-control" rows="6" ng-model="notification.data.content" required>{{notification.data.content}}</textarea>

                    <div class="bg-danger error" ng-show="notification.form.content.$invalid && notification.form.submitted">
                        <small ng-show="notification.form.content.$error.required">
                            Debes ingresar el contenido de la notificación.
                        </small>
                    </div>
                </div>
            </div>


            <!-- <div ng-show="notification.action == 'new'"> -->
            <div >
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="inputEmail3" class="control-label">Tipo de notificación</label>

                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" ng-model="notification.data.public" name="type" value="1"> Pública
                             </label>

                           <label class="radio-inline">
                                <input type="radio" ng-model="notification.data.public" name="type" value="0"> Privada
                            </label>
                        </div>

                    </div>
                </div>

                <div ng-hide="notification.data.public">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="inputEmail3" class="control-label">Agregar asociados por grupo</label>
                            <select class="form-control" ng-model="notification.data.group" ng-change="notification.addUserByGroup()">
                                <option value="{{key}}" ng-repeat="(key,val) in notification.groups">{{val.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="inputEmail3" class="control-label">Buscar asociados por documento</label>
                            <div class="row">
                                <div class="form-group col-sm-10">
                                    <input type="input" class="form-control" ng-model="notification.autocomplete.key">

                                    <ul ng-show="notification.autocomplete.suggest" class="autocomplete">
                                        <li ng-click="notification.addUser(user)" ng-repeat="user in notification.autocomplete.suggest"><span>{{user.username}}</span> {{user.name}}</li>
                                    </ul>

                                </div>
                                <div class="form-group col-sm-2">
                                    <button ng-click="notification.suggest()" type="button" class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="notification.autocomplete.list.0">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="inputEmail3" class="control-label">Lista de destinatarios</label>
                                <div class="table-scroll table-responsive" >
                                    <table  class="table  table-striped ">
                                        <thead>                                        
                                            <tr>
                                                <th>Documento</th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in notification.autocomplete.list">
                                                <td>{{user.username}}</td>
                                                <td>{{user.name}}</td>
                                                <td>{{user.email}}</td>                                           
                                                <td><button ng-click="notification.removeUser(user.username)" type="button" class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button></td>
                                            </tr>
                                        </tbody>  
                                    </table>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="notification.data.send_notification" value="1"> Notificar al celular
                            </label>
                        </div>
                    </div>
                </div>

            </div>

        	<div class="row">
        		<div class="form-group col-xs-12">
        			<button type="submit" class="btn btn-primary">{{notification.action == "new" ? "Enviar" : "Editar"}}</button>
                    &nbsp;
        			<a href="#/content/notification" class="btn btn-warning">Regresar</a>
        		</div>
        	</div>
        </form>
    </div>  

</div>  
