<h1>Notificaciones</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
	<li class="active">Notificaciones</li>
</ol>

<list-view 
    fields="[
        {'name':'title', 'label':'Título', 'type': 'string', width:'40'},
        {'name':'observation', 'label':'Descripción', 'type': 'string'},
        {'name':'add_date', 'label':'Fecha', 'type': 'date'},
        {'name':'public', 'label':'Publicado', 'type': 'bool'},        
    ]"

    filters="['search']" 

    actions="['add', 'edit', 'delete', 'search']"

    rest="notification"

    query-params="type=1"
     default-order="-add_date"
     >

</list-view>

