<h1>Notificaciones</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
	<li class="active">Notificaciones</li>
</ol>

<list-view 
    fields="[
        {'name':'title', 'label':'Titulo', 'type': 'string', width:'40'},
        {'name':'observation', 'label':'Descripción', 'type': 'string'},
        {'name':'add_date', 'label':'Fecha', 'type': 'date'},
        {'name':'public', 'label':'Publicado', 'type': 'bool'},        
    ]"

    filters="['title', 'observation']" 

    actions="['add', 'edit', 'delete']"

    rest="notification_client"

    query-params="type=1">

</list-view>

