<div class="update-page">


    <div class="modal fade" id="data-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Actualizar {{update.current.name}}</h4>
                </div>


                <div ng-show="update.loading" class="loading">
                    <img src="{{login.static}}/img/loader.gif">

                    <h4>Cargando..</h4>
                </div>

                <div ng-hide="update.loading">
                    <div ng-show="update.success">
                        <div class="modal-body">
                            <div class="alert alert-success" role="alert">La actualizacion del archivo  entró en cola, le enviaremos un correo cuando este lista.</div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                    <div ng-hide="update.success">
                        <div class="modal-body">
                            <div ng-class="{isSelected: update.file}"  ng-show="update.modalType == 1" file-drop id="drag-zone" drop="update.addFile">
                                <div ng-if="!update.file">Arrastre el csv de {{update.current.name}} aquí</div>
                                <div ng-if="update.file">{{update.file.name}}</div>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label >Delimitado por </label>
                                    <select class="form-control" ng-model="update.data.delimiter">
                                        <option value=";">Punto y coma (;)</option>
                                        <option value="|">Pipeline (|)</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >{{update.modalType === 1 ? "Fecha de corte" : "Desde la fecha"}} </label>
                                    <input type="date" class="form-control" placeholder="AAAA-MM-DD" ng-model="update.data.court_date">
                                </div>
                            </form>

                            <div ng-show="update.error">
                                <div class="alert alert-danger" role="alert">{{ update.error }}.</div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" ng-click="update.uploadFile()">Actualizar</button>
                        </div>
                    </div>
                
                </div>

            </div>
        </div>
    </div>


    <h1>Bases de datos</h1>

    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Bases de datos</li>
    </ol>

    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Archivo</th>
                    <th>Última actualización</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="db in update.data.db">
                    <td>{{db.name}}</td>
                    <td>{{db.update || 'Aun no se carga' }}</td>
                    <td class="text-right">

                        <button ng-click="update.onDBSelect(db)" data-toggle="modal" data-target="#data-modal" type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>

                    </td>

                </tr>
 
            </tbody>

        </table>

    </div>

</div>