.login-page{
    width:260px;
    height:100%;
    margin:auto;

    h3{
        margin:40px auto 20px;
        font-weight:normal;
    }

    .form-signin {
        // max-width: 240px;
        margin:25px auto;
    }

    
    top: 100%;
}


h5 {
    font-weight: 400 !important;
    font-size: 15.5px !important;
}