.login-page{
    width:260px;
    margin:auto;

    h3{
        margin:40px auto 20px;
        font-weight:normal;
    }

    .form-signin {
        // max-width: 240px;
        margin:25px auto;
    }
}
