.login-page {
  width: 260px;
  margin: auto;
}
.login-page h3 {
  margin: 40px auto 20px;
  font-weight: normal;
}
.login-page .form-signin {
  margin: 25px auto;
}
#notification-page .autocomplete {
  border: 1px #CCC solid;
  border-top: 0px;
  margin: -3px 0 0 0;
  padding: 3px 0 0 0;
  width: 100%;
  background-color: #FFF;
  list-style: none;
}
#notification-page .autocomplete li {
  padding: 5px 10px;
  cursor: pointer;
}
#notification-page .autocomplete li span {
  display: inline-block;
  min-width: 100px;
}
#notification-page .autocomplete li:hover {
  background-color: #f9f9f9;
}
#notification-page .user-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#notification-page .user-list li {
  padding: 5px 0;
  margin: 5px 0;
}
#notification-page .user-list li > span {
  display: inline-block;
  min-width: 100px;
}
#notification-page .user-list li button {
  float: right;
}
#statistic-page .red {
  color: #e3515e;
}
#statistic-page .blue {
  color: #35b6e0;
}
#statistic-page .green {
  color: #57ad43;
}
#statistic-page .orange {
  color: #f7b547;
}
#statistic-page .data-general {
  list-style: none;
  padding: 0px;
  margin: 30px 0px;
  text-align: center;
  overflow: hidden;
}
#statistic-page .data-general li {
  width: 25%;
  float: left;
}
#statistic-page .data-general .amount {
  display: block;
  font-size: 30px;
}
#statistic-page .data-general .item {
  color: #CCC;
}
.update-page #drag-zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  margin: 0 0 20px 0;
}
.update-page #drag-zone.isSelected {
  background: #fcf8e3;
}
.update-page .files {
  margin: 20px 0;
  overflow: hidden;
}
.update-page .files .row {
  font-size: 16px;
}
.update-page .files i {
  color: #CCC;
}
.update-page .files i.success {
  color: #66cc33;
}
body {
  padding-top: 50px;
}
.breadcrumb {
  background: transparent;
  padding: 0px;
}
.navbar-brand {
  padding: 10px;
}
.navbar-brand img {
  height: 30px;
}
.loading {
  text-align: center;
  margin: 60px 0;
}
.loading img {
  width: 40px;
  height: 40px;
  margin: auto;
}
.loading h4 {
  font-weight: normal;
}
.loading-panel {
  height: 0px;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
}
.loading-panel-loader {
  opacity: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  transition: margin-top 0.2s linear, opacity 0.2s linear;
}
.loading-panel-loader .glyphicon {
  margin-top: 10px;
  color: #5FB340;
}
.loading-panel.display {
  height: 100%;
}
.loading-panel.display .loading-panel-loader {
  margin-top: 100px;
  opacity: 0.7;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.dinamyc-forms {
  margin: 20px  0 40px;
}
.crud-search {
  width: 240px;
}
