@import "mixin";
@import "auth";
@import "notification";
@import "statistic";
@import "update";


body {
    padding-top: 50px;
}
.breadcrumb{
    background: transparent;
    padding:0px;
}
.navbar-brand{
    padding:10px;

    img{
        height:30px;
    }
}
.loading{
    text-align: center;
    margin:60px 0;
    
    img{
        width:40px;
        height:40px;
        margin:auto;
    }

    h4{
        font-weight: normal;
    }
}