@import "mixin";
@import "auth";
@import "notification";
@import "statistic";
@import "update";

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: url("http://api.thumbr.it/whitenoise-300x300.png?background=f2f2f2ff&noise=cccccc&density=7&opacity=48");
}
.container{
   min-height: 100%;
}

body {
    padding-top: 50px;
}
.breadcrumb{
    background: transparent;
    padding:0px;
}

.navbar-brand-header{
    padding-top: 8px;
    display: inline-flex;
    img{
        height:30px;
    }
}

.loading{
    text-align: center;
    margin:60px 0;
    
    img{
        width:40px;
        height:40px;
        margin:auto;
    }

    h4{
        font-weight: normal;
    }
}

.loading-panel{
    height:0px;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    z-index:1000;
    background:rgba(255,255,255,0.8);

    &-loader{
        opacity:0;
        margin-top:1px;
        text-align:center;
        font-size:30px;
        transition:margin-top 0.2s linear, opacity 0.2s linear;
        .glyphicon{
            margin-top:10px;
            color:#5FB340;
        }
    }

    &.display{
        height:100%;
        .loading-panel-loader{
            margin-top:100px;
            opacity: 0.7;
        }
    }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.dinamyc-forms{
    margin:20px  0 40px;
}

.crud-search{
    width:240px;
}

.table-scroll  {
    overflow: scroll;
    height: 400px;
}

#loading-logo {                      
  stroke-width: 1.6px ;      
  stroke-dasharray: 100;
  -webkit-animation: dash 4s linear infinite;
          animation: dash 4s linear infinite;
  width: 70px;
  height: 70px;
}


.asociados-logo{  
  width: 37px;
  height: 37px;
}

.btn-login{
  background-color: #D8852E !important;
  border-color: transparent  !important;
}

.navbar-brand-header:hover  .asociados-logo, .asociados-logo:hover {
  -webkit-animation:      spin 4s linear infinite;
          animation:      spin 4s linear infinite; 
  -webkit-animation:      bounceIn 0.6s; 
          animation:      bounceIn 0.6s;
  -webkit-transition: all 0.6s cubic-bezier(.8,1.8,.75,.75);
          transition: all 0.6s cubic-bezier(.8,1.8,.75,.75);
  cursor: pointer;
  -webkit-transform: rotate(720deg) scale(1);
      -ms-transform: rotate(720deg) scale(1);
          transform: rotate(720deg) scale(1);                
  stroke-width: 1px;
  stroke-dasharray: 100;
}



@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}