.user-box {
  margin: 40px 0 ;
  position: relative;
  padding-left: 0px;
}
.user-box .glyphicon {
  left: 0px;
  position: absolute;
  font-size: 50px;
  color: #DDD;
}
.user-box h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 8px;
}
.user-box p {
  color: #999;
}
.user-box img {
  box-shadow: 0 8px 6px -6px #000;
}
.login-page {
  padding: 5em;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 5px;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  margin-top: 10%;
}
.login-page h3 {
  margin: 40px auto 20px;
  font-weight: normal;
}
.login-page .form-signin {
  margin: 25px auto;
}
.login-page .btn-login {
  background-color: #D8852E !important;
  border-color: transparent  !important;
}
.login-page .btn-login:hover {
  background-color: transparent!important;
  border-color: #D8852E  !important;
  color: #D8852E;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
h5 {
  font-weight: 400 !important;
  font-size: 15.5px !important;
}
#notification-page .autocomplete {
  border: 1px #CCC solid;
  border-top: 0px;
  margin: -3px 0 0 0;
  padding: 3px 0 0 0;
  width: 100%;
  background-color: #FFF;
  list-style: none;
}
#notification-page .autocomplete li {
  padding: 5px 10px;
  cursor: pointer;
}
#notification-page .autocomplete li span {
  display: inline-block;
  min-width: 100px;
}
#notification-page .autocomplete li:hover {
  background-color: #F9F9F9;
}
#notification-page .user-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#notification-page .user-list li {
  padding: 5px 0;
  margin: 5px 0;
}
#notification-page .user-list li > span {
  display: inline-block;
  min-width: 100px;
}
#notification-page .user-list li button {
  float: right;
}
#notification-page .thumbs-notification-blanck {
  width: 160px;
  height: 160px;
  border-style: dotted;
  border-color: currentColor;
  border-radius: 20px;
}
#statistic-page .red {
  color: #E3515E;
}
#statistic-page .blue {
  color: #35B6E0;
}
#statistic-page .green {
  color: #57AD43;
}
#statistic-page .orange {
  color: #F7B547;
}
#statistic-page .data-general {
  list-style: none;
  padding: 30px 0;
  margin: 30px 0px;
  text-align: center;
  overflow: hidden;
  border-top: 1px #DDD solid;
}
#statistic-page .data-general li {
  width: 25%;
  float: left;
}
#statistic-page .data-general .amount {
  display: block;
  font-size: 30px;
}
#statistic-page .data-general .item {
  color: #CCC;
}
.update-page #drag-zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  margin: 0 0 20px 0;
}
.update-page #drag-zone.isSelected {
  background: #fcf8e3;
}
.update-page .files {
  margin: 20px 0;
  overflow: hidden;
}
.update-page .files .row {
  font-size: 16px;
}
.update-page .files i {
  color: #CCC;
}
.update-page .files i.success {
  color: #66cc33;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.container {
  min-height: 100%;
}
body {
  padding-top: 50px;
}
.breadcrumb {
  background: transparent;
  padding: 0px;
}
.navbar-brand-header {
  padding-top: 8px;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 32px;
  font-size: 1.3em;
  color: #5d5d5d;
}
.navbar-brand-header img {
  height: 30px;
}
.loading {
  text-align: center;
  margin: 60px 0;
}
.loading img {
  width: 40px;
  height: 40px;
  margin: auto;
}
.loading h4 {
  font-weight: normal;
}
.loading-panel {
  height: 0px;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
}
.loading-panel-loader {
  opacity: 0;
  margin-top: 1px;
  text-align: center;
  font-size: 30px;
  transition: margin-top 0.2s linear, opacity 0.2s linear;
}
.loading-panel-loader .glyphicon {
  margin-top: 10px;
  color: #5FB340;
}
.loading-panel.display {
  height: 100%;
}
.loading-panel.display .loading-panel-loader {
  margin-top: 100px;
  opacity: 0.7;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.dinamyc-forms {
  margin: 20px  0 40px;
}
.crud-search {
  width: 240px;
}
.table-scroll {
  overflow: scroll;
  height: 400px;
}
#loading-logo {
  stroke-width: 1.6px ;
  stroke-dasharray: 100;
  -webkit-animation: dash 4s linear infinite;
  animation: dash 4s linear infinite;
  width: 70px;
  height: 70px;
}
.asociados-logo {
  width: 37px;
  height: 37px;
}
.navbar-brand-header:hover .asociados-logo,
.asociados-logo:hover {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  -webkit-animation: bounceIn 0.6s;
  animation: bounceIn 0.6s;
  -webkit-transition: all 0.6s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  transition: all 0.6s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  cursor: pointer;
  -webkit-transform: rotate(720deg) scale(1);
  -ms-transform: rotate(720deg) scale(1);
  transform: rotate(720deg) scale(1);
  stroke-width: 1px;
  stroke-dasharray: 100;
}
.bg-danger.error {
  padding-left: 5px;
  color: #C58686;
  border-top: 1px solid #C58686;
  position: relative;
  top: -1px;
  border-radius: 0 0 3px 3px;
  line-height: 21px;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}
.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
tr.angular-ui-tree-empty {
  height: 100px;
}
.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}
/* --- Tree --- */
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
}
.nodrop {
  background-color: #f2dede;
}
.tree-node-content {
  margin: 10px;
}
.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.angular-ui-tree-handle {
  cursor: default !important;
}
.answer-action-buttons {
  margin-top: 25px;
}
.save-poll {
  padding-top: 20px;
}
.separated-line {
  border-bottom: 1px solid #e7e7e7;
}
.view-poll p.bg-warning {
  padding: 15px;
}
.view-poll .user-response {
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}
.view-poll .show-answers .title {
  min-height: 40px;
  margin-bottom: 40px;
  padding-left: 35px;
  margin-top: 40px;
}
.image-review .content-image-to-crop {
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.image-review img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.image-review img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}
.image-review #croppedImage,
.image-review .croppedImage {
  visibility: hidden;
}
.image-review .cropped-actions {
  margin-top: 10px;
}
.btn-image-asociados {
  float: right;
  margin-left: 10px;
}
.date-to-publish .the-date {
  padding: 0;
}
