<h1>Solicitud de creditos</h1>

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active">Solicitudes de credito</li>
</ol>

<list-view 
    fields="[
        {'name':'user.username', 'label':'Cedula', 'type': 'string'},
        {'name':'user.name', 'label':'Nombre', 'type': 'string', width:'30'},
        {'name':'credit.name', 'label':'Credito', 'type': 'string'},
        {'name':'amount', 'label':'Monto', 'type': 'currency'},
        {'name':'add_date', 'label':'Fecha', 'type': 'date'},
        {'name':'processed', 'label':'Proc.', 'type': 'bool'},
    ]"

    filters="['title', 'observation', 'auth_user__username']" 
    
    actions="['edit', 'delete']"

    rest="credit_request"

    queryparams="type=1">

</list-view>
