<h1>Noticias</h1>

<ol class="breadcrumb">
	<li><a href="#">Inicio</a></li>
	<li class="active">Noticias</li>
</ol>

<p class="pull-right">
	<a href="#/content/news/new" class="btn btn-success">Nueva noticia</a>
</p>

<table class="table table-hover">
	<thead>
		<tr>
			<th width="40%">Titulo</th>
			<th>Fecha</th>
            <th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="news in newsList.list">
            <td>{{news.title}}</td>
			<td>{{news.add_date}}</td>
            <td class="text-right">
                <a href="#/content/news/edit/{{news.id}}" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <button ng-click="newsList.delete(news.id, $event)" type="button" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
		</tr>
	</tbody>
</table>

<div class="text-center">
    <pagination 
    items-per-page="20" 
    total-items="newsList.count" 
    ng-model="newsList.page" 
    max-size="5" 
    class="pagination-lg" 
    ng-change="newsList.setPage()">
    </pagination>
</div>
