<h1>Créditos</h1>

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active">Créditos</li>
</ol>

<list-view 
    fields="[
        {'name':'code', 'label':'Código', 'type': 'string'},
        {'name':'name', 'label':'Nombre', 'type': 'string', width:'40'},
        {'name':'rate', 'label':'Tasa', 'type': 'string'},
        {'name':'insurance', 'label':'Seguro', 'type': 'string'},
    ]"

    filters="['search']" 

    actions="['add', 'edit', 'delete', 'search']"

    rest="credit"
    
    default-order="position"
    >

</list-view>

