<h1>Solicitud de credito</h1>

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#/request/credit">Creditos</a></li>
    <li class="active">Detalle</li>
</ol>


<dl class="dl-horizontal">
    <dt>Credito</dt>
    <dd>{{creditView.credit.name}}</dd>

    <dt>Asociado</dt>
    <dd>{{creditView.user}}</dd>

    <dt>Monto</dt>
    <dd>{{creditView.amount}}</dd>

    <dt>Cantidad de meses</dt>
    <dd>{{creditView.months}}</dd>

    <dt>Fecha de envio</dt>
    <dd>{{creditView.add_date}}</dd>
</dl>
