<div class="update-page">
    <h1>Bases de datos</h1>

    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Bases de datos</li>
    </ol>

    <div ng-show="update.success">
        <div class="alert alert-success" role="alert">La actualizacion entró en cola, le enviaremos un correo cuando este lista</div>
        <a href="#/" class="btn btn-warning">Regresar</a>
    </div>

    <div ng-show="update.error">
        <div class="alert alert-danger" role="alert">{{ update.error }}.</div>
    </div>

    <div ng-show="!update.success">

        <div file-drop id="drag-zone" drop="update.addFile">

            Arrastre los archivos csv aqui

        </div>

        <div class="files">
            <h3>Archivos</h3>
            <div class="row">
                <div class="col-sm-6" ng-repeat="(k, v) in update.files">
                    <i ng-class="{success: v != false}" class="glyphicon glyphicon-ok-circle"></i> {{k}}
                </div>
            </div>
        </div>

        <button ng-class="{disabled : update.show.send == false}" type="submit" class="btn btn-primary" ng-click="update.sendFiles()">Enviar</button>
        <a href="#/" class="btn btn-warning">Regresar</a>

    </div>
</div>