.update-page #drag-zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  margin: 20px 0;
}
.update-page .files {
  margin: 20px 0;
  overflow: hidden;
}
.update-page .files .row {
  font-size: 16px;
}
.update-page .files i {
  color: #CCC;
}
.update-page .files i.success {
  color: #66cc33;
}
